<% provide(:title, 'Home') %>

<div class="center">
<columnt> <t3> What is does? </t3> </br></br> Hallo and welcome to your baby shower planning assistant!
We want to help you and your friends plan your very special baby shower and help the new mommy avoid getting duplicate presents.</columnt>

<t3> How Does It Work? </t3> </br></br> 

<columnt2> Either sign in below and create your very own party and present registry or search for a friends registry so that you know what to buy. It's that easy! </columnt2> </br></br></br>

</div>
	 
<div class="split">

     <br>
	 
	 <h4> <% if user_signed_in? && Registry.exists?(current_user.registry) %>
      
     <%= link_to "Show My Registry", current_user.registry %>
	 
	 <% else %>
	 
	 <%= link_to "Create a registry", new_registry_path %>
	 
	 <% end %> </h4>
	 
	 <br>
	 <h4>Or</h4>
	 <br>
	 <h4>Search For A Friend's Registry</h4>
	 <br>
	 <%= form_tag registries_path, method: :get do %>
     <%= text_field_tag :search, params[:search] %>
     <%= submit_tag "Search", name: nil %>
     <% end %>

</div>

