<% provide(:title, 'Home') %>

<div class="center">
<columnt> <t3> What it does? </t3> </br></br> Hallo and welcome to your baby shower planning <br> assistant!
We want to help you and your friends plan <br> your very special baby shower and help the new mommy avoid getting duplicate presents.</columnt>

<t3> How Does It Work? </t3> </br></br> 

<columnt2> Either sign in below and create your very own <br> party and present registry or search for a friends registry so that you know what to buy. It's that easy! <br> <t2> Here is an <%= link_to "example registry", "http://www.mystorkparty.com/registries/Janie" %> by Janie. </t2> </columnt2> </br></br></br>

</div>
	 
<div class="split">

     <br>
	 
	 <t2> <% if user_signed_in? && Registry.exists?(current_user.registry) %>
      
     <%= link_to "Show My Registry", current_user.registry %>
	 
	 <% else %>
	 
	 <%= link_to "Create a registry (It's FREE!)", new_registry_path %>
	 
	 <% end %> </t2>
	 
	 <br></br>
	 <t2> Or </t2>
	 <br></br>
	 <t2>Search For A Friend's Registry</t2>
	 <br></br>
	 <%= form_tag registries_path, method: :get do %>
     <%= text_field_tag :search, params[:search] %>
     <%= submit_tag "Search", name: nil %>
     <% end %>

</div>

