<% provide(:title, 'Home') %>

<div class="center">

<h4> Hallo and welcome to Storky, a little baby shower planning app. </br> 
Storky wants to help you and your friends plan the very special baby shower and help the new mommy avoid getting duplicate presents.</h4> </br> 

</div>
	 
<div class="split">
	 
	 <h4> <% if user_signed_in? && Registry.exists?(current_user.registry) %>
      
     <%= link_to "Show My Registry", current_user.registry %>
	 
	 <% else %>
	 
	 <%= link_to "Create a registry", new_registry_path %>
	 
	 <% end %> </h4>
	 
	 <br>
	 <h4>or</h4>
	 <br>
	 <h4>Search for a friend's registry</h4>
	 <br>
	 <%= form_tag registries_path, method: :get do %>
     <%= text_field_tag :search, params[:search] %>
     <%= submit_tag "Search", name: nil %>
     <% end %>

</div>

