<%= nested_form_for(@registry) do |f| %>
  <% if @registry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registry.errors.count, "error") %> prohibited this registry from being saved:</h2>

      <ul>
      <% @registry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="center">
  <t3> For a list of brands and ideas check out <%= link_to "Nordstrom Brands", 'http://shop.nordstrom.com/c/baby-kids-brands' %> and <%= link_to "Babyoka", 'http://www.babyoka.co.uk/brandslist.html' %>. </t3><br></br>
  
   
	<%= f.label :name %>
    <%= f.text_field :name %>
		
    <%= f.label :due_date %>
    <%= f.date_select :due_date %>
  
    <%= f.label :theme, "Party Theme"%>
    <%= f.text_field :theme%>
  
    <%= f.label :gender %>
    <%= f.select :gender, Registry::GENDER_TYPES,
                                  :prompt => 'Select a gender' %>
    </br>
	
 
  <%= f.fields_for :presents do |builder| %>
  <%= render 'present_fields', f: builder %>
  <% end %>

  <br>
  <div class="center">
  <t>Remember to add a present by clicking on the link "Add A Present To Your Registry" below.</t></br>
  </div>
  <br>
  <%= link_to_add_fields "Add A Present To Your Registry", f, :presents %>
  <br>
  </br>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>