<div class="center">

<%= nested_form_for(@registry) do |f| %>
  <% if @registry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registry.errors.count, "error") %> prohibited this registry from being saved:</h2>

      <ul>
      <% @registry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <t> Need ideas? Check out the blog <%= link_to "blog here", 'http://mystorkparty.tumblr.com/' %>. Basic necessities for your new bundle of joy include bodysuits, blanket sleepers, sweaters or jackets, socks, hats, crib, sheets, baby monitor, dresser, basket, diapers, cream, tissues, bathtub, baby soap, soft towels, hairbrush, bottle, burp cloth, chair, pacifiers and a stroller. </t></br></br>
    
	<%= f.label :name %>
    <%= f.text_field :name %>
		
    <%= f.label :due_date %>
    <%= f.date_select :due_date %>
  
    <%= f.label :theme, "Party Theme"%>
    <%= f.text_field :theme%>
  
    <%= f.label :gender %>
    <%= f.select :gender, options_for_select([["Male", "male"],["Female","female"],['Secret', 'secret']])%>
    </br>
	
  <div align="center">
  <%= f.fields_for :presents do |builder| %>
  <%= render 'present_fields', f: builder %>
  <% end %>
  </div>
  <br>
  <t>Remember to add a present by clicking on the link "Add A Present To Your Registry" below.</t></br>
  
  <br>
  <t4>
  <%= link_to_add_fields "Add A Present To Your Registry", f, :presents %>
  </t4>
  <br>
  </br>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>