  
  <div class="field1">
  <table>
  <tr> 
  <td> <%= f.label :type, "Present Type" %> </td>
  <td> <%= f.text_field :type, :class => 'field2' %> </td>
  <td> <%= f.label :Quantity, "Quantity" %> </td>
  <td> <%= f.number_field :quantity, :class => 'field3' %> </td>
  <td> <%= f.label :color, "Color" %> </td>
  <td> <%= f.text_field :color, :class => 'field2' %> </td>
  <td> <%= f.label :brand, "Brand" %> </td>
  <td> <%= f.text_field :brand, :class => 'field2' %> </td>
  <td> <%= f.link_to_remove "Remove this present" %></td>
  </tr>
  </table>
  </div>

 