  
  </br>
  <div class="field1" align="center">
  <table align="center">
  <tr> 
  <td class = "tableform1"> <%= f.label :type, "Present Type" %> </td>
  <td class = "tableform2"> <%= f.text_field :type, :class => 'field2' %> </td>
  <td class = "tableform3"> <%= f.label :Quantity, "Quantity" %> </td>
  <td class = "tableform4"> <%= f.number_field :quantity, :class => 'field3' %> </td>
  <td class = "tableform5"> <%= f.label :color, "Color" %> </td>
  <td class = "tableform6"> <%= f.text_field :color, :class => 'field2' %> </td>
  <td class = "tableform7"> <%= f.label :brand, "Brand" %> </td>
  <td class = "tableform8"> <%= f.text_field :brand, :class => 'field2' %> </td>
  <td class = "tableform9"> <%= f.link_to_remove "Remove this present", class: "btn btn-mini btn-info" %></td>
  </tr>
  </table>
  </div>

 