<% provide(:title, 'My Party and Presents') %>
<p id="notice"><%= notice %></p>

<h2> <%= @registry.party_name %> </h2>
<p> Hi this is <%= @registry.name %>'s baby shower present registry. <%= @registry.name %> wants a <%= @registry.theme %> theme and the baby is a <%= @registry.gender %>
with a due date of <%= @registry.due_date %>. </p> </br>


<h5> Here is the presents registry: </h5></br>
<div class="tablecustom">
<table border="1" cellpadding="10">
<tr>
<th> Type:             </th>
<th> Quanitity:        </th>
<th> Color:            </th>
<th> Brand:            </th>
</tr>
</table>
</div>
</br>


<% @registry.presents.each do |registry| %>

<div class="tablecustom">
<table border="1" cellpadding="10">

<tr>
<th> <%= registry.type %>             </th>
<th> <%= registry.quantity %>         </th>
<th> <%= registry.color %>            </th>
<th> <%= registry.brand %>            </th>
</tr>
</br>


</table>
</div>
<% end %>

</br>
</br>

     <% if user_signed_in? %>
      
     <%= link_to 'Edit', edit_registry_path(@registry) %> |
     <%= link_to 'Destroy', @registry, confirm: 'Are you sure?', method: :delete %>

	 <% else %>
	 
	 <% end %>
	 
	 
	


