<% provide(:title, 'My Party and Presents') %>
<p id="notice"><%= notice %></p>
<div class="center">

<t3> This is <%= @registry.name %>'s Baby Shower Registry </t3><br></br>

<t><%= @registry.name %> wants a <%= @registry.theme %> themed party! The baby's gender is a <%= @registry.gender %>
has a due date of <%= @registry.due_date %>. </t>

<div class="color">
<div class="bcontent">
<table align="center">
<t2><tr>
<th class = "thone"> <div class="cellpaddingth"> Type:              </th>
<th class = "thone"> <div class="cellpaddingth"> Quanitity:         </th>
<th class = "thone"> <div class="cellpaddingth"> Color:             </th>
<th class = "thtwo"> <div class="cellpaddingth"> Brand:             </th>
</tr></t2>

<% @registry.presents.each do |registry| %>
<tr>
<td class = "tdone"> <div class="cellpaddingtd"> <%= registry.type %>                  </td>
<td class = "tdone"> <div class="cellpaddingtd"> X <%= registry.quantity %>            </td>
<td class = "tdone"> <div class="cellpaddingtd"> <%= registry.color %>                 </td>
<td class = "tdtwo"> <div class="cellpaddingtd"> <%= registry.brand %>                 </td>
</tr>
</br>

<% end %>
</table>
</div>

<div class="center">

     <% if user_signed_in? %>
      
       <%= link_to 'Edit', edit_registry_path(@registry) %> |
       <%= link_to 'Destroy', @registry, confirm: 'Are you sure?', method: :delete %>

	  <% else %>
	 
	 <% end %>
	 
</div>
	
	 
	


