<% provide(:title, 'My Party and Presents') %>
<p id="notice"><%= notice %></p>

<div class="center">
<t3> This is <%= @registry.name %>'s Baby Shower Registry </t3><br></br>


<t5>
Party Theme: <%= @registry.theme %> <br>
Gender Status: <%= @registry.gender %><br>
Due Date: <%= @registry.due_date %><br>
</t5>
</br>
</div>

<script type="text/javascript"><!--
google_ad_client = "ca-pub-1241780469142923";
/* Mystorkpartytwo */
google_ad_slot = "8017018930";
google_ad_width = 468;
google_ad_height = 60;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

<div class="facebook">
<div class="fb-like" data-send="false" data-width="350" data-show-faces="true"></div>
</div>

</br>

<div class="bcontent">
<table align="center">
<t2><tr>
<th class = "thone"> <div class="cellpaddingth"> Type:              </th>
<th class = "thone"> <div class="cellpaddingth"> Quanitity:         </th>
<th class = "thone"> <div class="cellpaddingth"> Color:             </th>
<th class = "thtwo"> <div class="cellpaddingth"> Brand:             </th>
</tr></t2>

<% @registry.presents.each do |registry| %>
<tr>
<td class = "tdone"> <div class="cellpaddingtd"> <%= registry.type %>                  </td>
<td class = "tdone"> <div class="cellpaddingtd"> X <%= registry.quantity %>            </td>
<td class = "tdone"> <div class="cellpaddingtd"> <%= registry.color %>                 </td>
<td class = "tdtwo"> <div class="cellpaddingtd"> <%= registry.brand %>                 </td>
</tr>
<% end %>
</table>
</div> 

<div class="center">
     <% if can? :edit, @registry %> 
	 
      <div class="center">
		<t2> <%= link_to 'Email', href="mailto:?subject=Come%20see%20my%20baby%20shower%20registry!&body=I%20created%20a%20baby%20shower%20registry%20on%20http://www.mystorkparty.com.%20Please%20use%20it%20to%20avoid%20duplicate%20presents.", class: "btn btn-mini btn-info" %> your baby shower registry link to your friends!  </t2>
      </div>
	  <br>
      <%= link_to 'Edit Registry', edit_registry_path(@registry) %> |
      <%= link_to 'Destroy Registry', @registry, confirm: 'Are you sure?', method: :delete %>
	  
	 <% else %>
	 
	 <script type="text/javascript"><!--
		google_ad_client = "ca-pub-1241780469142923";
		/* Mystorkparty */
		google_ad_slot = "5801694289";
		google_ad_width = 468;
		google_ad_height = 60;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	 </script>
	 
	 <iframe src="http://rcm.amazon.com/e/cm?t=ewalkerblog-20&o=1&p=48&l=ur1&category=baby&banner=1JYH964PEQVNKDREH182&f=ifr" width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>

	 <% end %>
</div>

