<% provide(:title, 'My Party and Presents') %>
<p id="notice"><%= notice %></p>
<div class="center">
<h2> This is <%= @registry.party_name %> </h2>
<t> Hi this is <%= @registry.name %>'s baby shower present registry. <%= @registry.name %> wants a <%= @registry.theme %> theme and the baby is a <%= @registry.gender %>
with a due date of <%= @registry.due_date %>. </t> <br></br>



<t1>Here is the present registry: </t1><br></br>
<div class="tablecustomtop">
<table cellpadding="10" align="center">
<tr>
<th class = "thone"> Type:              </th>
<th class = "thone">  Quanitity:        </th>
<th class = "thone">  Color:            </th>
<th class = "thtwo">  Brand:            </th>
</tr>
</table>
</div>

<% @registry.presents.each do |registry| %>

<div class="tablecustomcontent">
<table cellpadding="10" align="center">

<tr>
<td class = "tdone"> <%= registry.type %>             </td>
<td class = "tdone"> <%= registry.quantity %>         </td>
<td class = "tdone"> <%= registry.color %>            </td>
<td class = "tdtwo"> <%= registry.brand %>            </td>
</tr>
</br>

<% end %>
</table>
</div>


</br>
</br>

     <% if user_signed_in? %>
      
     <%= link_to 'Edit', edit_registry_path(@registry) %> |
     <%= link_to 'Destroy', @registry, confirm: 'Are you sure?', method: :delete %>

	 <% else %>
	 
	 <% end %>
	 </div>
	 
	


