<% provide(:title, 'My Party and Presents') %>
<p id="notice"><%= notice %></p>
<div class="center">

<t3> This is <%= @registry.name %>'s Baby Shower Registry </t3><br></br>
</div>

<ul>
She suggests a theme around <%= @registry.theme %>'s. <br>
The babie's cuurent gender status is: "<%= @registry.gender %>". <br>
Mommy has a due date of <%= @registry.due_date %>.<br>
</ul>
</br>
<div class="facebook">
<div class="fb-like" data-send="false" data-width="350" data-show-faces="true"></div>
</div>
</br>

<div class="bcontent">
<table align="center">
<t2><tr>
<th class = "thone"> <div class="cellpaddingth"> Type:              </th>
<th class = "thone"> <div class="cellpaddingth"> Quanitity:         </th>
<th class = "thone"> <div class="cellpaddingth"> Color:             </th>
<th class = "thtwo"> <div class="cellpaddingth"> Brand:             </th>
</tr></t2>

<% @registry.presents.each do |registry| %>
<tr>
<td class = "tdone"> <div class="cellpaddingtd"> <%= registry.type %>                  </td>
<td class = "tdone"> <div class="cellpaddingtd"> X <%= registry.quantity %>            </td>
<td class = "tdone"> <div class="cellpaddingtd"> <%= registry.color %>                 </td>
<td class = "tdtwo"> <div class="cellpaddingtd"> <%= registry.brand %>                 </td>
</tr>
<% end %>
</table>
</div> 
<div class="center">
     <% if can? :edit, @registry %> 
         
      <%= link_to 'Edit Registry', edit_registry_path(@registry) %> |
      <%= link_to 'Destroy Registry', @registry, confirm: 'Are you sure?', method: :delete %>
	  
	 <% else %>
	 
	 <iframe src="http://rcm.amazon.com/e/cm?t=ewalkerblog-20&o=1&p=48&l=ur1&category=baby&banner=1JYH964PEQVNKDREH182&f=ifr" width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>

	  
	 <% end %>
</div>
<br></br>
<div class="center">
<div class="fb-comments" data-href="http://www.mystorkparty.com" data-num-posts="2" data-width="600"></div>
</div>

